@tailwind base;
@tailwind components;
@tailwind utilities;

.move{
    animation: mymove 3s infinite;
  }
  @keyframes mymove {
   0%{transform: translateX(0px);}
   50%{transform: translateX(24px);} 
   100%{transform: translateX(0px);} 
  }